.summary{
    color: #219B9D;
    font-size: 30px;
}

h2 {
    color: #219B9D;
    font-size: 25px;
    text-align: center; 
}

p{
    font-size: 25px;
}

body{
    background: lightgray;
}

.box {
    background: white;
    margin-top:120px;
    margin-left:10px;
    margin-right:10px;
    padding: 20px;
    align-content: center;
    border-radius: 25px;
    border: 2px solid #219B9D;
  }

.image{
    display: block;
    margin: auto;
    width: 60%;
}

.visualization{
    font-size: 16px;
}

tr:nth-of-type(odd) {
    background-color: lightgrey;
}